.questions {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.question {
  background: #ffffff;
  padding: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 250px 1fr 50px 50px 50px;
  grid-template-rows: 25px 200px 25px;
  grid-template-areas:
    "time    title     view    view     view"
    "photo   message   message message message"
    "seen    vote      kuka     up       down";
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.kuka {
  grid-area: kuka;
  max-width: 25px;
  max-height: 25px;
  padding-left: 15px;
  padding-top: 5px;
}
.up {
  grid-area: up;
  max-width: 35px;
  max-height: 35px;
}
.down {
  grid-area: down;
  max-width: 35px;
  max-height: 35px;
}

.data_1 {
  grid-area: time;
  padding-left: 10px;
}

.data_2 {
  grid-area: seen;
  justify-self: stretch;
  text-align: center;
}

.data_3 {
  grid-area: vote;
  justify-self: stretch;
  text-align: center;
}

.data_4 {
  grid-area: title;
  justify-self: stretch;
  text-align: center;
}

.data_5 {
  grid-area: message;
  align-self: stretch;
  background: #bbb5afa3;
  padding: 10px;
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.data_image {
  grid-area: photo;
  justify-self: center;
  align-self: center;
}

.view {
  grid-area: view;
  justify-self: center;
  align-self: center;
  justify-self: stretch;
  text-align: center;
}

img {
  max-width: 250px;
  max-height: 200px;
}

.button {
  margin-left: 150px;
}

.order {
  margin-bottom: 20px;
  margin-right: 150px;
  text-align: right;
  font-family: "Luxurious Roman", cursive;
}
