.questions {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.question {
  background: #ffffff;
  padding: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: minmax(25px,auto) minmax(200px,auto) 35px;
  grid-template-areas:
    "time   time   time    title  title  title  title   title    view     seen"
    "photo  photo  photo message message message message  message message message"
    "tag-but  tag  tag    tag    tag        tag  vote   up       down      kuka";
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.kuka {
  grid-area: kuka;
  max-width: 25px;
  max-height: 25px;
  place-self: center;
}
.up {
  grid-area: up;
  max-width: 35px;
  max-height: 35px;
  justify-self: center;
  align-self: center;
}
.down {
  grid-area: down;
  max-width: 35px;
  max-height: 35px;
  justify-self: start;
  align-self: center;
}

.data_1 {
  grid-area: time;
  padding-left: 10px;
}

.data_2 {
  grid-area: seen;
  justify-self: center;
  align-self: center;
}

.data_3 {
  grid-area: vote;
  justify-self: end;
  align-self: center;
}

.data_4 {
  grid-area: title;
  justify-self: stretch;
  text-align: center;
}

.data_5 {
  grid-area: message;
  align-self: stretch;
  background: #bbb5afa3;
  padding: 10px;
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.data_image {
  grid-area: photo;
  justify-self: center;
  align-self: center;
}

.view {
  grid-area: view;
  align-self: center;
  text-align: center;
  justify-self: end;
  align-self: center;
}

.add-tag {
  grid-area: tag-but;
  justify-self: center;
  align-self: center;
}

.tags {
  grid-area: tag;
  justify-self: start;
  align-self: center;
}

img {
  max-width: 250px;
  max-height: 200px;
}

.button {
  margin-left: 150px;
}

.order {
  margin-bottom: 20px;
  margin-right: 150px;
  text-align: right;
  font-family: "Luxurious Roman", cursive;
}
