.back_button {
  margin-left: 20px;
}

.button {
  margin-left: 20px;
}

/*kérdés kártya: */
.question {
  margin-left: 140px;
  margin-right: 140px;
  background: #ffffff;
  padding: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: minmax(45px,auto) minmax(auto,200px) minmax(30px,auto);
  grid-template-areas:
    "time   time   time    title  title  title  title   title    edit     edit"
    "photo  photo  photo message message message message  message message message"
    "tag-but  tag  tag    tag    tag        tag  tag   tag     q-com      q-com";
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.time {
  grid-area: time;
  justify-self: start;
  align-self: center;
}

.title {
  grid-area: title;
  justify-self: center;
  align-self: center;
}

.meme {
  grid-area: photo;
  align-self: stretch;
  text-align: center;
}

.meme img{
  max-height: 100%;
  max-width: 100%;

  }

.message {
  grid-area: message;
  align-self: stretch;
  background: #bbb5afa3;
  padding: 10px;
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.add-tag {
  grid-area: tag-but;
  justify-self: center;
  align-self: center;
}

.tags {
  grid-area: tag;
  justify-self: start;
  align-self: center;
}

.Q-comment {
  grid-area: q-com;
  justify-self: center;
  align-self: center;
}

.Q-edit {
  grid-area: edit;
  justify-self: center;
  align-self: center;
}

/*kérdés-comment kártyák: */
.comments {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-left: 200px;
  margin-right: 200px;
}

.comment {
  border: 1px solid black;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.79);
  padding: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows:minmax(30px,auto) minmax(30px,auto);
  grid-template-areas:
    "q-c-message q-c-message q-c-message"
    "q-c-time    q-c-edit    q-c-delete";
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.time {
  grid-area: time;
  justify-self: start;
  align-self: center;
}

.q-c-message {
  grid-area: q-c-message;
  justify-self: center;
  align-self: end;
}

.q-c-time {
  grid-area: q-c-time;
  justify-self: start;
  align-self: center;
}

.q-c-edit {
  grid-area: q-c-edit;
  justify-self: end;
  align-self: center;
}

.q-c-delete {
  grid-area: q-c-delete;
  justify-self: center;
  align-self: center;
}

/*válasz kártya: */
.answers {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px ;
  margin-left: 180px;
  margin-right: 180px;
}

.answer {
  background: #aab6ad;
  padding: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: minmax(25px,auto) minmax(auto, 130px) 35px;
  grid-template-areas:
    "a-time      a-time    a-time    a-time    a-time    a-time    a-time   a-time   a-edit   a-edit"
    "a-message a-message a-message a-message  a-message a-message a-message a-photo  a-photo  a-photo"
    "a-delete  a-delete   a-up    a-down    a-vote   a-vote  a-vote   a-vote  a-add-comment  a-add-comment";
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.a-time {
  grid-area: a-time;
  justify-self: start;
  align-self: center;
}

.a-vote {
  grid-area: a-vote;
  justify-self: start;
  align-self: center;
}

.a-message{
  grid-area: a-message;
  align-self: stretch;
  background: lightgray;
  padding: 10px;
}

.a-delete {
  grid-area: a-delete;
  text-align: left;
  padding-top: 5px;
}

.icon{
  width:28px;
}

.a-vote-down {
  grid-area: a-down;
  justify-self: start;
  align-self: center;
  padding-top: 5px;
}

.a-vote-up {
  grid-area: a-up;
  justify-self: center;
  align-self: center;
  padding-top: 5px;
}

.a-edit {
  grid-area: a-edit;
  justify-self: center;
  align-self: center;
}

.a-add-comment {
  grid-area: a-add-comment;
  justify-self: center;
  align-self: center;
}

.a-meme {
  grid-area: a-photo;
  align-self: stretch;
  text-align: center;
}

.a- img{
  max-height: 100%;
  max-width: 100%;

  }
/*válasz-comment kártyák: */
.a-comments {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin-left: 120px;
  margin-right: 120px;
}

.a-comment {
  border: 1px solid black;
  border-radius: 25px;
  background: lightgray;
  padding: 10px;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows:minmax(30px,auto) minmax(30px,auto);
  grid-template-areas:
    "a-c-message a-c-message a-c-message"
    "a-c-time    a-c-edit    a-c-delete";
  box-shadow: 0px 2px 80px 0px rgba(0, 0, 0, 0.3);
}

.a-c-time {
  grid-area: a-c-time;
  justify-self: start;
  align-self: center;
}

.a-c-message {
  grid-area: a-c-message;
  justify-self: center;
  align-self: center;
}
.a-c-edit {
  grid-area: a-c-edit;
  justify-self: center;
  align-self: center;
}

.a-c-delete {
  grid-area: a-c-delete;
  justify-self: center;
  align-self: center;
}