html {
    
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f291f;
    font-weight: bold;
}

body {
    background-color: #c55826;
}

main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
    

}

section div {
    display: flex;
    justify-content:space-between;
    border: 3px solid red;
    height: 20vh;
    width: 100vh;
    
}

.best_meme_pic {
    max-width: 91%;
}

.indexbox {
    border: 4px solid #3f291f;
    border-radius: 6px;
    border-style:dotted solid double dashed;
    box-shadow: -1px 5px 4px #3f291f;
    display: flex;
    align-items: center;
}

button {
    height: 60%;
    border: 6px solid #3f291f;
    border-radius: 4px;
    border-style:dotted solid double dashed;
    box-shadow: -1px 5px 4px #3f291f;
    background-color: #c55826;
}
button:hover {
    transform: translate(2px, -8px);
    box-shadow: -1px 3px 2px #3f291f;
    transition: 0.5s;
}

aside {
    display: flex;
    flex-direction: column;
    margin: 5px 2px 5px 2px;
    border: 2px;
    border-radius: 1px;
    padding: 3px;
    background-color: #3f291f;
    box-shadow: 4px 6px 5px #000000;
    max-width: 20%;
    font-size: small;
    text-align: center;
}

main aside img {
    filter: opacity(90%);
    margin: 5px 2px 2px 2px;
    box-shadow: 2px 3px 3px #000000;
    border-radius: 5px;
}

header h1 {
    font-family: 'Pacifico', cursive;
    color: #3b5999;
}

footer {
    position:sticky;
    bottom: 0px;
    min-height: 10vh;
    max-width: 100%;
    background-image: linear-gradient(180deg, #3f291f, #c55826, #c55826, #c55826, #c55826, #c55826, #c55826);
}
footer ul {
    position: relative;
    top: 15px;
    padding: 0;
    margin: 0;
    display: flex;
}
footer ul li {
    list-style: none;
    margin: 10px 15px 10px 0;
}
footer ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: #2f4f4f;
}
footer ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    transition: 0.6s;
}
footer ul li a:hover {
    transform: translate(3px, -12px);
    box-shadow: -1px 5px 4px rgb(182, 33, 120);
}
footer ul li a:hover .fa {
    color: white;
}
footer ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
footer ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
footer ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
footer ul li:nth-child(4) a:hover {
    background-color: #0077b5;
}
