<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/static/new_form_style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
  />
  <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Pacifico&family=The+Nautigal&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
    <head>
      <meta charset="UTF-8" />
      <title>Add Question</title>
    </head>
    <body>
      <header>
        Ask Mate
      </header>
      <br> <br> <br>
      <form action="/list">
        <button
          id="home"
          name="home_button"
          type="submit"
          action="/"
          class="button"
        >
          HOME
        </button>
        <div class="form-style-8">
      </form>
      <h2 align="middle">Add question</h2>
      <form action="/add-question" method="post" enctype="multipart/form-data">
        <div>
          <label class = "text">Give your question a title:</label> <br />
          <input placeholder="Type here..." name="title" type="text" required minlength="3" />
        </div>
        <div>
          <label class = "text">Type your question:</label> <br />
          <textarea placeholder="Type here..." id="question" name="question" rows="6" cols="60"></textarea>
        </div>
        <input type="file" class="button" name="file1" />
        <button type="submit" class="button">Add new Question</button>
      </form>
    </div>
    </body>
</html>
