<!DOCTYPE html>

<html>
<link rel="stylesheet" href="/static/css_files/basic.css">
<link rel="stylesheet" href="/static/css_files/new_form_style.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Pacifico&family=The+Nautigal&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <head>
        <title> Ask Meme </title>
        <link rel = "icon" href = "/static/img/logo.png" type = "image/x-icon">
    </head>
    <body>
      <div class="container">
        <div class = "head">
          <div class = "logo"><a class = "link" href = '/' ><img src="/static/img/logo.png"/></a></div>
          <div class = "search">
              <form action="/search">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
              </form>
          </div>
          <div class = "account"></div>
          <div class = "empty"></div>
          <a href="{{ url_for('display_questions_list') }}" class = "nav1">Questions</a>
          <a href="{{ url_for('hello') }}" class = "nav2">Premium</a>
          <a href="{{ url_for('hello') }}" class = "nav3">About Us</a>
          <a href="{{ url_for('hello') }}" class = "nav4">Contact</a>
          <div class = "headline">Answer</div>
        </div>
        <div class = "back_button">
          <form action="/questions/{{ question_id }}">
                <button id="home" type="submit" class="button" >  BACK </button>
          </form>
        </div>
        <div class="form-style-8">
          <h2 align="middle">Give a new answer!</h2>
          <form action="/question/new-answer" method="POST" enctype="multipart/form-data">
            <p><h4> Type your answer: </h4><br>
            <textarea id="answer_message" name="answer_message" rows="6" cols="60" minlength="10" placeholder="Type here..." required autofocus></textarea></p>
            <input type="hidden" name="question_id" value="{{ question_id }}">
            <input type="file" name="file1" class="tallozas">
            <input type="submit" value="Submit" name="Submit" class="button">
      
          </form>

        </div>

        <footer>
          <ul>
              <li> <a href="#"> <i class="fa fa-facebook"> </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-twitter"> </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-instagram"> </i> </a> </li>
              <li> <a href="#"> <i class="fa fa-linkedin"> </i> </a> </li>
            </ul>
        </footer>
      </div>
    </body>
  </div>
</html>