<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/static/new_form_style.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
  />
  <div class="form-style-8">
    <head>
      <meta charset="UTF-8" />
      <title>Edit Question</title>
    </head>
    <body>
      <form action="/list">
        <button
          id="home"
          name="home_button"
          type="submit"
          action="/"
          class="button"
        >
          BACK
        </button>
      </form>
      <h1>Edit Question</h1>
      <form action="/question/{{ q_id }}/edit" method="post">
        <div>
          <label>Give your question a title:</label> <br />
          <input
            name="title"
            type="text"
            required
            minlength="3"
            value="{{ title }}"
          />
        </div>
        <div>
          <label>Type your question:</label> <br />
          <textarea id="message" name="message" rows="6" cols="60">
{{ message }}</textarea
          >
        </div>
        <button type="submit" class="button">Edit Question</button>
      </form>
    </body>
  </div>
</html>
