<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ask Mate</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="static/index_style.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Nosifer&display=swap" rel="stylesheet">
</head>
<body>
<a href = '/list'> list questions </a>

<footer>
    <ul>
        <li> <a href="#"> <i class="fa fa-facebook"> </i> </a> </li>
        <li> <a href="#"> <i class="fa fa-twitter"> </i> </a> </li>
        <li> <a href="#"> <i class="fa fa-instagram"> </i> </a> </li>
        <li> <a href="#"> <i class="fa fa-linkedin"> </i> </a> </li>
      </ul>
</footer>
</body>
</html>