<!DOCTYPE html>
<html lang="en">
  <div class="container">
    <head>
      <title>Ask Mate</title>
      <link rel="icon" href="static/img/logo.png" type="image/x-icon" />
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/static/css_files/basic.css" />
      <link href="/static/css_files/index_style.css" rel="stylesheet" />
      <link
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
      />

      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Pacifico&family=The+Nautigal&display=swap"
        rel="stylesheet"
      />
      <link
        href="https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap"
        rel="stylesheet"
      />

        <link href="/static/css_files/dark-mode.css" rel="stylesheet" />
        <script src="/static/css_files/theme-switcher.js" defer></script>

    </head>
    <body>
      <div class="head">
        <div class = "logo"><a class = "link" href = '/' ><img src="/static/img/logo.png"/></a></div>
        <div class="search">
          <form action="/search">
            <input type="text" placeholder="Search.." name="search" />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="account"></div>
        <div class="empty"></div>
        <a href="{{ url_for('display_questions_list') }}" class="nav1">Questions</a>
        <a href="{{ url_for('hello') }}" class="nav2">Premium</a>
        <a href="{{ url_for('hello') }}" class="nav3">About Us</a>
        <a href="{{ url_for('hello') }}" class="nav4">Contact</a>
        <div class="headline">Ask meme</div>
      </div>
      <br />
      <br />
      <main>
        <aside>
          <p>Favorite memes:</p>
          {% for i in list_of_best_memes %}
          <div>
            <a href="/questions/{{i[1]}}"><img class="best_meme_pic" src="{{i[0]}}" alt="{{i[0]}}" /> <br /></a>
            <p>{{i[2]}}</p>
          </div>
          {% endfor %}
        </aside>

        <section>
          <a href="/list"></a>
          <div>
            <p class="indexbox">Describe your situation!</p>
            <p></p>
          </div>
          <div>
            <p class="arrow1"></p>
            <p class="indexbox">Wait for the MEMES to come flowin'.</p>
          </div>
          <div>
            <p class="indexbox">Make, or react with memes!</p>
            <p class="arrow2"></p>
          </div>
          <div>
            <p class="arrow3"></p>
            <a href="/list"> <div class="underbutton"><button>Get Started!</button></div></a>
          </div>
        </section>
      </main>

      <footer>
        <ul>
          <li>
            <a href="#"> <i class="fa fa-facebook"> </i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-twitter"> </i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-instagram"> </i> </a>
          </li>
          <li>
            <a href="#"> <i class="fa fa-linkedin"> </i> </a>
          </li>
        </ul>
      </footer>
    </body>
  </div>
    <div class="theme-switcher" id="theme-switcher" title="Dark Mode On/Off">
        <i id="dark"> D </i>
        <i id="light"> L </i>
    </div>
</html>
