<!DOCTYPE html>

<html>
  <link rel="stylesheet" href="/static/css_files/question.css" />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto"
    rel="stylesheet"
  />
  <head>
    <title>Ask Mate</title>

  </head>
  <body>
    <form action="/list">
      <button
        id="home"
        name="home_button"
        type="submit"
        action="/"
        class="button"
      >
        HOME
      </button>
    </form>
    <div align="middle">
      <h1 align="middle">AskMate</h1>
      <h2 align="middle">Question</h2>
    </div>
    <div class= "tables">
    <div class="header">
      <table>
        <tr>
          {% for item in range(current_question|length) %} {% if item != 4 %}
          <th>{{ current_question[item] }}</th>
          {% elif current_question[item] != "0" %}
          <th><img src="{{ current_question[item] }}" height="80px" /></th>
          {% else %}
           <th></th>
          {% endif %} {% endfor %}
        </tr>
      </table>
    </div>
    <br>
    <table class="table-fill">
    <thead>
    <tr>
        {% for header in answer_header %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
      <tbody class="table-hover">
        {% for row in current_answers %}
        <tr>
            {% for i in range(row|length) %}
                {% if i != 4 %}
                    <td>{{ row[i] }}</td>
                {% elif row[i] != "0" %}
                    <td><img src="{{ row[i] }}" height="60px"></td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}

            <td align="middle">
                <form action="/answer/{{ row[0] }}/delete" method="POST">
                    <input
                            id="delete_button"
                            type="image"
                            src="/static/img/trash.png"
                            alt="Delete"
                            width="60"
                            value="delete_button"
                    />
                    <input
                            type="hidden"
                            name="question_id"
                            value="{{ current_question[0] }}"
                    />
                </form>
            <td align="middle">
                <form action="/answer/{{ row[0] }}/vote-up" method="POST">
                    <input type="hidden" name="question_id" value="{{ current_question[0] }}"/>
                    <input id="vote_up_button" name="vote_up_button" type="image" src="/static/img/arrows.webp.png"
                           alt="Vote-up" width="60" value="{{ row[0] }}">
                </form>
            </td>
            <td align="middle">
                <form action="/answer/{{ row[0] }}/vote-down" method="POST">
                    <input type="hidden" name="question_id" value="{{ current_question[0] }}"/>
                    <input id="vote_down_button" name="vote_down_button" type="image" src="/static/img/arrow_down.png"
                           alt="Vote-down" width="60" value="{{ row[0] }}">
                </form>
            </td>
            </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <br>
    <form action="/question/{{ question_id }}/new-answer" method="POST">
      <input
        id="new_answer"
        name="new_answer"
        type="submit"
        class="button"
        width="60"
        value="New Answer"
      />
    </form>
    <br />
    <form action="/question/{{ question_id }}/edit" method="GET">
      <input
        id="edit_question"
        name="edit_question"
        type="submit"
        class="button"
        width="60"
        value="Edit Question"
      />
    </form>
  </body>
</html>
