<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="/static/list.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<head>
    <title>Ask Mate</title>
</head>
<body>
<div align="middle" class="table-title">
    <h1 align="middle">AskMate</h1>
    <h2 align="middle">Question list</h2>
    <form action="/add-question">
        <input id="ask_new_question" type="submit" value="Ask New Question" class="button" href="/add-question">
    </form>
</div>

<form action="/list" method="get">  # post
    <div>
        <label for="order_by">Sort by:</label>
        <select name="order_by" id="order_by">
            <option {{ 'selected' if order_by == 'title' }} value="title">Title</option>
            <option {{ 'selected' if order_by == 'submission_time' }} value="submission_time">Submission time</option>
            <option {{ 'selected' if order_by == 'message' }} value="message">Message</option>
            <option {{ 'selected' if order_by == 'number_of_views' }} value="number_of_views">Number of views</option>
            <option {{ 'selected' if order_by == 'number_of_votes' }} value="number_of_votes">Number of votes</option>
        </select>
        <label for="order_direction">Order:</label>
        <select name="order_direction" id="order_direction">
            <option {{ 'selected' if order_direction == 'desc' }} value="desc">Descending</option>
            <option {{ 'selected' if order_direction == 'asc' }} value="asc">Ascending</option>
        </select>
        <button>Sort</button>
    </div>
</form>

<table>
    <tr>
        {% for item in table_headers %}
            <th>{{ item }}</th>
        {% endfor %}
    </tr>
    {% for row in list_of_questions %}
    <tr>
        {% for index in range(row|length) %}
            {% if index != 6 %}
                <td><a href='/questions/{{ row[0] }}'>{{ row[index] }}</a></td>
            {% elif row[index] != "0" %}
                <td><img src="{{ row[index] }}"></td>
            {% else %}
                <td></td>
            {% endif %}
        {% endfor %}

        <td align="middle">
            <form action="/question/{{ row[0] }}/delete" method="POST" >
                <input id="delete_button" type="image" src="/static/img/view.png" alt="Delete" width="60"
                       value="delete_button">
            </form>
        </td>
        <td align="middle">
            <form action="/question/{{ row[0] }}/vote-up" method="POST">
                <input id="vote_up_button" name="vote_up_button" type="image" src="/static/img/vote_up.png"
                       alt="Vote-up" width="60" value="{{ row[0] }}">
            </form>
        </td>
        <td align="middle">
            <form action="/question/{{ row[0] }}/vote-down" method="POST">
                <input id="vote_down_button" name="vote_down_button" type="image" src="/static/img/vote_down.png"
                       alt="Vote-down" width="60" value="{{ row[0] }}">
            </form>
        </td>

        </tr>
    {% endfor %}
</table>
</body>
</html>