{% extends "base.html" %}

{% block css %}
      <link rel="stylesheet" href="/static/css_files/basic.css" />
      <link href="/static/css_files/index_style.css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h2>Username : {{ session.get('username') }}</h2>
    <hr>
    {% if  user_questions== [] %}
        <h3>Questions asked: None</h3>
    {% else %}
        <h3>Questions asked:</h3>
        {% for question in user_questions %}
            <h4>Question title:</h4><h4><a href={{ url_for('display_question', question_id=question.id) }}> {{ question.title }}</a></h4>
            <h5>Question message: {{ question.message }}</h5><hr>
        {% endfor %}
    {% endif %}

    <hr>
    {% if  user_answers== [] %}
        <h3>Answers given: None</h3>
    {% else %}
        <h3>Answers given:</h3>
        {% for answer in user_answers %}
            <h4>Question title: </h4><h4><a href={{ url_for('display_question', question_id=answer.id) }}> {{ answer.title }} </a></h4>
            <h5>Answer given: {{ answer.message }}</h5><hr>
        {% endfor %}
    {% endif %}


    <hr>
    {% if  user_comments== [] %}
        <h3>Answers given: None</h3>
    {% else %}
        <h3>Answers given:</h3>
        {% for comment in user_comments %}
            <h4>Question title:</h4><h4> <a href={{ url_for('display_question', question_id=comment.id) }}>{{ comment.title }}</a></h4>
            <h5>Comment given: {{ comment.message }}</h5><hr>
        {% endfor %}
    {% endif %}
{% endblock content %}

